@model SocialNetwork_M35.Models.Account.UserViewModel

@{
    ViewData["Title"] = "User";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль пользователя</title>
</head>
<body>

    <div class="profile-container">
        <div class="profile-photo">
            <img src="@(Model.User.MainImage ?? "https://via.placeholder.com/180")" alt="Фото пользователя" />
        </div>
        <div class="profile-info">
            <h2>@Model.FullName</h2>
            <div class="info-item">
                <span>Статус:</span> @Model.User.Status
            </div>
            <div class="info-item">
                <span>Дата рождения:</span> @Model.User.BirthDate.ToString("dd.MM.yyyy")
            </div>

        </div>
    </div>

</body>
