@model SocialNetwork_M35.Models.Account.SearchViewModel

@{
    ViewData["Title"] = "User";
}

<div class="righ-align">
    <form asp-area="" asp-controller="AccountManager" asp-action="UserList">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск пользователей" name="search">
    </form>
</div>
<div class="block-reg background-white">
    @if(Model.users.Count == 0)
    {
        <div>
            <label>Поиск не дал реультатов</label>
        </div>
    }
    else
    {
        @foreach (var user in @Model.users)
        {
            <div>
                <label>@user.GetFullName()</label>
            </div>
        }
    }
</div>